@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br/>
    <a href="/Book/AddBook"><button type="button" class="btn btn-success">Add Book</button></a>
    <a href="/Book/show"><button type="button" class="btn btn-success">Show All Books</button></a>
</div>
